.viewer {
  border: 1px solid lightgray;
  padding: 4px;
}

.viewer-project-main {

}

.viewer-project-donation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewer-project-socials {

}

.viewer-profile-main {

}

.viewer-profile-social-media {

}
