.viewer {
  border: 1px solid lightgray;
  padding: 4px;
}

.viewerprojectmain {

}

.viewerprojectdonation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewerprojectsocials {

}

.viewerprofilemain {

}

.viewerprofilesocialmedia {

}
