
<div class="flex flex-col min-h-[1000px] items-center p-4 gap-6 bg-gray-200 rounded-2xl ">

  <div class="flex flex-col gap-2">
    <button (click)="EditProject()">Edit Project</button>
    <button (click)="SaveProject()">Save Project</button>
  </div>

  <!--Images Carousel -->
  <div>
    <div class="imagessection" *ngFor="let image of project.imagesNames">
      <img class="image" src="storage/Projects/{{project.id}}/Images/{{image}}" />
    </div>
    @if (userType === "user") {

    } @else if (userType === "admin" && editProject) {

    }
    <input class="uploadbutton" type="file" (change)="onFileChange($event)" multiple>
  </div>

  <form [formGroup]="projectForm">
    <p>{{project.title}}</p>
    <input type="text" formControlName="title" />
    <p>{{project.title}}</p>
    <input type="text" formControlName="description" />
    <p>Category</p>
    <select formControlName="categoryId">
      <option *ngFor="let category of categories" value="{{category.id}}" >
        <div class="flex flex-row p-1">
          <p>{{category.name}}</p>
          @switch (category.name) {
            @case ("product") {<img src="assets/ProductIcon.png" />}
            @case ("society"){<img src="assets/SocietalProjectIcon.png" />}
            @case ("environment"){<img src="assets/EnvironmentProject.png" />}
          }
        </div>
      </option>
    </select>
    <p>{{project.email}}</p>
    <input type="text" formControlName="email" />
    <p>{{project.totalFundRequired}}</p>
    <input type="text" formControlName="totalFundRequired" />
    <!--SOCIAL MEDIA-->
    <div>
      <h3 class="form-title">Social Media platforms</h3>
      <p class="form-title">Facebook</p>
      <input type="text" formControlName="facebook"/>
      <p class="form-title">X</p>
      <input type="text" formControlName="x"/>
      <p class="form-title">instagram</p>
      <input type="text" formControlName="instagram"/>
    </div>
  </form>

  <div class="flex flex-row items-center">
    <p>{{project.currentFund}}</p>
    <p>out of</p>
    <p>{{project.totalFundRequired}}</p>
    <p>collected</p>
  </div>

</div>
