.user-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  background-color: white;
  justify-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;
}

.tab-btn {
  padding: 10px;
  color: black;
  background-color: white;
}


.user-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: slategray;
  padding: 10px;

  .name-pic-block {
    display: flex;
    flex-direction: row;
  }



}

.user-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-info-submit-button {
  margin-top: 20px;
}

.user-pic {
  width: max(100px);
  height: max(100px);
}

.user-info-title {
  font-weight: 500;
}

.donation-log-section {

}

.project-section {
  background-color: #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.project-request-button {
  margin: 5px;
  padding: 3px;
  border-radius: 30px;
  background-color: #0088ff;
}
