.userpanel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  background-color: white;
  justify-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;
}

.tabbtn {
  padding: 10px;
  color: black;
  background-color: white;
}


.userinfosection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: slategray;
  padding: 10px;

  .namepicblock {
    display: flex;
    flex-direction: row;
  }



}

.userinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.userinfosubmitbutton {
  margin-top: 20px;
}

.userpic {
  width: max(100px);
  height: max(100px);
}

.userinfotitle{
  font-weight: 500;
}

.donationlogsection {

}

.projectsection {
  background-color: #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.projectrequestbutton {
  margin: 5px;
  padding: 3px;
  border-radius: 30px;
  background-color: #0088ff;
}
