<div class="user-panel">
  <div>
    <button class="tab-btn" #InfoTabBtn (click)="SetTab(0)">Info</button>
    <button class="tab-btn" #ProjectTabBtn (click)="SetTab(1)">Project</button>
  </div>
  @if (tabNumber === 0) {
    <section class="user-info-section">
      <div>
        <div class="name-pic-block">
          <img class="user-pic" src="{{environment.backendurl}}/storage/Users/{{user.id}}/Images/{{user.profileImage}}" appFallbackprofilepic/>
          <h3>{{user.userName}}</h3>
        </div>

        <div class="flex flex-col items-center gap-4">
          <div>
            <h2>Description</h2>
            <p>{{user.description}}</p>
          </div>

          <div>
            <h2>Social Media</h2>
            <div class="grid grid-cols-3">
              <div class="flex flex-col items-center">
                <p>Facebook</p>
                <p>{{user.socialMedia.facebook}}</p>
              </div>
              <div class="flex flex-col items-center">
                <p>X</p>
                <p>{{user.socialMedia.x}}</p>
              </div>
              <div class="flex flex-col items-center">
                <p>Instagram</p>
                <p>{{user.socialMedia.instagram}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="donation-log-section">
        <h2>Donation logs</h2>
        <p *ngIf=" userdonations.length === 0 " >no donation logs available</p>
        <div *ngFor="let donation of userdonations">
          <p>{{donation.donationAmount}}</p>
          <p>donated to {{donation.project.title}}</p>
          <p> {{donation.paymentType}}</p>
        </div>
      </div>

    </section>
  }

  @if (tabNumber === 1) {
    <section class="project-section">
      <div *ngIf="!userownsproject">
        <button class="project-request-button" (click)="OpenFundForm()">No Project associated, would you like to create one...?</button>
        <app-fund-request-form *ngIf="openprojectform"></app-fund-request-form>
      </div>
      <div *ngIf="userownsproject">
        <img src="{{environment.backendurl}}/storage/Projects/{{project.id}}/Images/{{project.imagesNames?.[0]}}" />
        <div>
          <div *ngFor="let image of project.imagesNames">
            <img src="{{environment.backendurl}}/storage/Projects/{{project.id}}/Images/{{image}}" />
          </div>
          <p>{{project.title}}</p>
          <p>{{project.description}}</p>
          <p>{{project.email}}</p>
          <p>{{project.currentFund}}</p>
          <p>{{project.totalFundRequired}}</p>
        </div>
        <button (click)="RemoveProject()">Remove Project</button>
      </div>
    </section>
  }

</div>
