@import "../../../styles/Global";


.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 4px;
  padding: 8px;
  z-index: 2;
}

.mobile-navbar {
  display: none;
  transition: left 10s ease-in-out;
}

.mobile-menu {
  left: -1000px;
  background-color: $secondary-backgroundcolor;
  transition: left 0.4s ease-in-out;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
}

.logo {
  height: 35px;
  cursor: pointer;
  fill: $secondary-backgroundcolor;
  stroke: $secondary-backgroundcolor;
}

.link {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  font-family: Dubai;
}

.link:hover {
  color: #00be55;
}

.auth-link {
  background-color: #00be55;
  padding: 10px;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: whitesmoke;
  font-family: Dubai, serif;
}

.auth-link:hover {
  background-color: #c9c9c9;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .navbar {
    display: flex;
  }
  .navbar-mobile {
    display: none;
  }
}

