<div class="donationpage">

  <div class="innerdonationtemplate">
    <div>
      <!----- <p class="receiptnumber">generated donation number #{{donationreceiptnumber}}</p> ----->
      <h2>Donating to Project: {{project().title}} </h2>
    </div>

    <form [formGroup]="donationform" (ngSubmit)="SubmitDonation()">
      <h3>Payment Type</h3>
      <div>
        <div class="paymenttype">
          <input type="radio" formControlName="paymenttype" value="visa" />
          <img class="paymentlogo" src="assets/visa.png" />
        </div>
        <div class="paymenttype">
          <input type="radio" formControlName="paymenttype" value="paypal" />
          <img class="paymentlogo" src="assets/paypal.png" />
        </div>
      </div>
      @if (this.donationform.controls.paymenttype.invalid) {
        @if (this.donationform.controls.paymenttype.errors?.['required']) {
          <p class="text-red-600">payment type is required to be chosen</p>
        }
      }

      <h3>Donation Amount</h3>
      <div class="donationamount">
        <input type="number" formControlName="donationamount" />
        <h2 class="donationcount">{{donationamountview}} EGP</h2>
      </div>
      @if (this.donationform.controls.donationamount.invalid) {
        @if (this.donationform.controls.donationamount.errors?.['required']) {
          <p class="text-red-600">please enter a non-zero amount to donate</p>
        }
      }

      <div class="donationarea" >
        <input class="donationbutton" type="submit" [disabled]="donationform.invalid" />
      </div>
    </form>
  </div>


</div>

