<p>admin-panel works!</p>


<div class="flex flex-row">
  <li><button>Profile Info</button></li>
  <li><button>Projects List</button></li>
  <li><button>Donations List</button></li>
</div>

<section>

  <section>
    <div>
      <img src="{{environment.backendurl}}/storage/Users/{{currentAdmin.id}}/images/profilepic.png" />
      <h2>{{currentAdmin.userName}}</h2>
    </div>
  </section>

  <div>
    <!----ALL PROJECTS TABLE---->
    <div>
      <table class="admin-table">
        <tr class="admin-table-row">
          <th>Number</th>
          <th>Title</th>
          <th>Current Donation</th>
          <th>Donation Needed</th>
          <th>Added on</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        @for (project of projects; track project.id) {
          <tr class="admin-table-row" (click)="SelectProjectToView(project.id)">
            <td>1</td>
            <td>{{project.title}}</td>
            <td>{{project.currentFund}}</td>
            <td>{{project.totalFundRequired}}</td>
            <td>empty for now</td>
            <td>{{project.status}}</td>
            <td>
              <button>View</button>
              <button (click)="DeleteProject(project.id)">Delete</button>
            </td>
          </tr>
        }
      </table>
    </div>
    <div *ngFor="let number of GenerateRange(totalProjectsPages)">
      <button (click)="GetProjects(number)">{{number}}</button>
    </div>
  </div>
  <!----ALL Donations TABLE---->
  <div>
    <table class="admin-table">
      <tr>
        <td>Amount</td>
        <td>Payment Type</td>
        <td>To Project</td>
        <td>From User</td>
        <td>Requested On</td>
        <td>Action</td>
      </tr>
      @for (donation of donations; track donation.id) {
        <tr class="admin-table-row">
          <td>{{donation.donationAmount}}</td>
          <td>{{donation.paymentType}}</td>
          <td>{{donation.project.title}}</td>
          <td>{{donation.user.userName}}</td>
          <td>{{donation.user.userName}}</td>
          <td>
            <button class="p-2" (click)="RejectDonation(donation.id)"></button>
            <button class="p-2" (click)="AcceptDonation(donation.id)"></button>
          </td>
        </tr>
      }
    </table>
    <div *ngFor="let number of GenerateRange(totalDonationsPages)">
      <button (click)="GetProjects(number)">{{number}}</button>
    </div>
  </div>
</section>
