<form class="form flex flex-col p-2" [formGroup]="newprojectform" (ngSubmit)="SubmitNewProject()">
  <div>
    <!--PROJECT DETAILS-->
    <h3 class="form-title">Project Name</h3>
    <input class="input-elements" type="text" formControlName="title">
    <h3 class="form-title">Project Description</h3>
    <input class="input-elements" type="text" formControlName="description">
    <h3 class="form-title">Category</h3>
    <select class="input-elements" *ngFor="let category of categories" formControlName="categoryid">
        <option value="{{category.id}}" >
          <div class="flex flex-row p-1">
            <p>{{category.name}}</p>
            @switch (category.name) {
              @case ("product") {<img src="assets/ProductIcon.png" />}
              @case ("society"){<img src="assets/SocietalProjectIcon.png" />}
              @case ("environment"){<img src="assets/EnvironmentProject.png" />}
            }
          </div>
        </option>
    </select>
    <h3 class="form-title">Requested Funding</h3>
    <input class="input-elements" type="number" formControlName="totalfundrequired">
    <!--IMAGES UPLOAD-->
    <h3 class="form-title">Project Photos</h3>
    <div>
      <div class="imagessection" *ngFor="let image of imagesurls">
        <img class="image" src="{{image}}" />
      </div>
      <input class="uploadbutton" type="file" (change)="onFileChange($event)" multiple>
    </div>
  </div>
  <!--SOCIAL MEDIA-->
  <div>
    <h3 class="form-title">Social Media platforms</h3>
    <p class="form-title">Facebook</p>
    <input class="input-elements" type="text" formControlName="facebook"/>
    <p class="form-title">X</p>
    <input class="input-elements" type="text" formControlName="x"/>
    <p class="form-title">instagram</p>
    <input class="input-elements" type="text" formControlName="instagram"/>
  </div>
  <!--SUBMIT-->
  <input class="submit-button" type="submit" value="Submit Project">
</form>
