.form {
  padding: 25px;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
}

.input-elements {
  border-radius: 25px;
}

.imagessection {
  display: flex;
  flex-direction: row;
}

.image {
  width: max(200px);
  height: max(200px);
}

.uploadbutton {
  display: none;
}

.submit-button {
  padding: 12px;
  background-color: #00be55;
}
